SkdAdminClient/Service References/SkdWebService/SkdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCourseReleaseDate">
        <s:complexType />
      </s:element>
      <s:element name="GetCourseReleaseDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseReleaseDateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExcuteSp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="venderDetails" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userDetails" type="tns:ArrayOfArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="userCourseMaps" type="tns:ArrayOfArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExcuteSpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExcuteSpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeedBackInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFeedBackInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFeedBackInfoResult" type="tns:ArrayOfBase64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="FinishUpdateData">
        <s:complexType />
      </s:element>
      <s:element name="FinishUpdateDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="NeedUpdateData">
        <s:complexType />
      </s:element>
      <s:element name="NeedUpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NeedUpdateDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrivelegeInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrivelegeInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPrivelegeInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginTotalTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rbos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginDateBegin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginDateEnd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginTotalTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginTotalTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginDetailTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userVender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginDateBegin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginDateEnd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLoginDetailTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLoginDetailTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProgressDetailTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rbos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bigcourseNames" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateBegin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateEnd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishBegin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishEnd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProgressDetailTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProgressDetailTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgressDetailTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rbos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userVender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateBegin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dateEnd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishBegin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishEnd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProgressDetailTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProgressDetailTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseStudyDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rbo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseStudyDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseStudyDetailsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVenders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVendersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVendersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrgIdAndNameList">
        <s:complexType />
      </s:element>
      <s:element name="GetOrgIdAndNameListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrgIdAndNameListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrgList">
        <s:complexType />
      </s:element>
      <s:element name="GetOrgListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrgListResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRbos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRbosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRbosResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseNameMap">
        <s:complexType />
      </s:element>
      <s:element name="GetCourseNameMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseNameMapResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PartVenderCoursePassRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rbos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="courseNames" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishBeginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishEndDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studyBeginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studyEndDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="status" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PartVenderCoursePassRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PartVenderCoursePassRateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllVenderCoursePassRate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseNames" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishBeginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishEndDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studyBeginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studyEndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AllVenderCoursePassRateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllVenderCoursePassRateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseAddUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rbo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishBeginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishEndDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studyBeginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="studyEndDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseAddUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseAddUpResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCourseName">
        <s:complexType />
      </s:element>
      <s:element name="GetCourseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCourseNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxScoreTrainning">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recordName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMaxScoreTrainningResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMaxScoreTrainningResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrainningRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sysIdList" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="rbo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="beginDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrainningRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrainningRecordResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrainningBaseInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="recordName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTrainningBaseInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTrainningBaseInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistinctRecoordName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDistinctRecoordNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDistinctRecoordNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTime">
        <s:complexType />
      </s:element>
      <s:element name="GetTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rbo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestCountResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewOrg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="venderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectUserPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewOrgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewOrgResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrgInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="venderId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="connectUserPhone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="venderEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrgInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateOrgInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="courseName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="vender" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertNewMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertNewMapResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTestOrg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="venderCodes" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTestOrgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateTestOrgResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCourseReleaseDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseReleaseDate" />
  </wsdl:message>
  <wsdl:message name="GetCourseReleaseDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseReleaseDateResponse" />
  </wsdl:message>
  <wsdl:message name="ExcuteSpSoapIn">
    <wsdl:part name="parameters" element="tns:ExcuteSp" />
  </wsdl:message>
  <wsdl:message name="ExcuteSpSoapOut">
    <wsdl:part name="parameters" element="tns:ExcuteSpResponse" />
  </wsdl:message>
  <wsdl:message name="GetFeedBackInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFeedBackInfo" />
  </wsdl:message>
  <wsdl:message name="GetFeedBackInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFeedBackInfoResponse" />
  </wsdl:message>
  <wsdl:message name="FinishUpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:FinishUpdateData" />
  </wsdl:message>
  <wsdl:message name="FinishUpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:FinishUpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="NeedUpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:NeedUpdateData" />
  </wsdl:message>
  <wsdl:message name="NeedUpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:NeedUpdateDataResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetPrivelegeInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrivelegeInfo" />
  </wsdl:message>
  <wsdl:message name="GetPrivelegeInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetPrivelegeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginTotalTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginTotalTable" />
  </wsdl:message>
  <wsdl:message name="GetLoginTotalTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginTotalTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetLoginDetailTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetLoginDetailTable" />
  </wsdl:message>
  <wsdl:message name="GetLoginDetailTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetLoginDetailTableResponse" />
  </wsdl:message>
  <wsdl:message name="ProgressDetailTableSoapIn">
    <wsdl:part name="parameters" element="tns:ProgressDetailTable" />
  </wsdl:message>
  <wsdl:message name="ProgressDetailTableSoapOut">
    <wsdl:part name="parameters" element="tns:ProgressDetailTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetProgressDetailTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetProgressDetailTable" />
  </wsdl:message>
  <wsdl:message name="GetProgressDetailTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetProgressDetailTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseStudyDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseStudyDetails" />
  </wsdl:message>
  <wsdl:message name="GetCourseStudyDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseStudyDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetVendersSoapIn">
    <wsdl:part name="parameters" element="tns:GetVenders" />
  </wsdl:message>
  <wsdl:message name="GetVendersSoapOut">
    <wsdl:part name="parameters" element="tns:GetVendersResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrgIdAndNameListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrgIdAndNameList" />
  </wsdl:message>
  <wsdl:message name="GetOrgIdAndNameListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrgIdAndNameListResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrgListSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrgList" />
  </wsdl:message>
  <wsdl:message name="GetOrgListSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrgListResponse" />
  </wsdl:message>
  <wsdl:message name="GetRbosSoapIn">
    <wsdl:part name="parameters" element="tns:GetRbos" />
  </wsdl:message>
  <wsdl:message name="GetRbosSoapOut">
    <wsdl:part name="parameters" element="tns:GetRbosResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseNameMapSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseNameMap" />
  </wsdl:message>
  <wsdl:message name="GetCourseNameMapSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseNameMapResponse" />
  </wsdl:message>
  <wsdl:message name="PartVenderCoursePassRateSoapIn">
    <wsdl:part name="parameters" element="tns:PartVenderCoursePassRate" />
  </wsdl:message>
  <wsdl:message name="PartVenderCoursePassRateSoapOut">
    <wsdl:part name="parameters" element="tns:PartVenderCoursePassRateResponse" />
  </wsdl:message>
  <wsdl:message name="AllVenderCoursePassRateSoapIn">
    <wsdl:part name="parameters" element="tns:AllVenderCoursePassRate" />
  </wsdl:message>
  <wsdl:message name="AllVenderCoursePassRateSoapOut">
    <wsdl:part name="parameters" element="tns:AllVenderCoursePassRateResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseAddUpSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseAddUp" />
  </wsdl:message>
  <wsdl:message name="GetCourseAddUpSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseAddUpResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseTable" />
  </wsdl:message>
  <wsdl:message name="GetCourseTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetCourseNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetCourseName" />
  </wsdl:message>
  <wsdl:message name="GetCourseNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetCourseNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetMaxScoreTrainningSoapIn">
    <wsdl:part name="parameters" element="tns:GetMaxScoreTrainning" />
  </wsdl:message>
  <wsdl:message name="GetMaxScoreTrainningSoapOut">
    <wsdl:part name="parameters" element="tns:GetMaxScoreTrainningResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrainningRecordSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrainningRecord" />
  </wsdl:message>
  <wsdl:message name="GetTrainningRecordSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrainningRecordResponse" />
  </wsdl:message>
  <wsdl:message name="GetTrainningBaseInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTrainningBaseInfo" />
  </wsdl:message>
  <wsdl:message name="GetTrainningBaseInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTrainningBaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDistinctRecoordNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDistinctRecoordName" />
  </wsdl:message>
  <wsdl:message name="GetDistinctRecoordNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDistinctRecoordNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestCount" />
  </wsdl:message>
  <wsdl:message name="GetTestCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestCountResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewUser" />
  </wsdl:message>
  <wsdl:message name="InsertNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewOrgSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewOrg" />
  </wsdl:message>
  <wsdl:message name="InsertNewOrgSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewOrgResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrgInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrgInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateOrgInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrgInfoResponse" />
  </wsdl:message>
  <wsdl:message name="InsertNewMapSoapIn">
    <wsdl:part name="parameters" element="tns:InsertNewMap" />
  </wsdl:message>
  <wsdl:message name="InsertNewMapSoapOut">
    <wsdl:part name="parameters" element="tns:InsertNewMapResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTestOrgSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTestOrg" />
  </wsdl:message>
  <wsdl:message name="UpdateTestOrgSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTestOrgResponse" />
  </wsdl:message>
  <wsdl:portType name="SkdServiceSoap">
    <wsdl:operation name="GetCourseReleaseDate">
      <wsdl:input message="tns:GetCourseReleaseDateSoapIn" />
      <wsdl:output message="tns:GetCourseReleaseDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExcuteSp">
      <wsdl:input message="tns:ExcuteSpSoapIn" />
      <wsdl:output message="tns:ExcuteSpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedBackInfo">
      <wsdl:input message="tns:GetFeedBackInfoSoapIn" />
      <wsdl:output message="tns:GetFeedBackInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FinishUpdateData">
      <wsdl:input message="tns:FinishUpdateDataSoapIn" />
      <wsdl:output message="tns:FinishUpdateDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NeedUpdateData">
      <wsdl:input message="tns:NeedUpdateDataSoapIn" />
      <wsdl:output message="tns:NeedUpdateDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivelegeInfo">
      <wsdl:input message="tns:GetPrivelegeInfoSoapIn" />
      <wsdl:output message="tns:GetPrivelegeInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginTotalTable">
      <wsdl:input message="tns:GetLoginTotalTableSoapIn" />
      <wsdl:output message="tns:GetLoginTotalTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginDetailTable">
      <wsdl:input message="tns:GetLoginDetailTableSoapIn" />
      <wsdl:output message="tns:GetLoginDetailTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProgressDetailTable">
      <wsdl:input message="tns:ProgressDetailTableSoapIn" />
      <wsdl:output message="tns:ProgressDetailTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProgressDetailTable">
      <wsdl:input message="tns:GetProgressDetailTableSoapIn" />
      <wsdl:output message="tns:GetProgressDetailTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseStudyDetails">
      <wsdl:input message="tns:GetCourseStudyDetailsSoapIn" />
      <wsdl:output message="tns:GetCourseStudyDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVenders">
      <wsdl:input message="tns:GetVendersSoapIn" />
      <wsdl:output message="tns:GetVendersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrgIdAndNameList">
      <wsdl:input message="tns:GetOrgIdAndNameListSoapIn" />
      <wsdl:output message="tns:GetOrgIdAndNameListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrgList">
      <wsdl:input message="tns:GetOrgListSoapIn" />
      <wsdl:output message="tns:GetOrgListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRbos">
      <wsdl:input message="tns:GetRbosSoapIn" />
      <wsdl:output message="tns:GetRbosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseNameMap">
      <wsdl:input message="tns:GetCourseNameMapSoapIn" />
      <wsdl:output message="tns:GetCourseNameMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PartVenderCoursePassRate">
      <wsdl:input message="tns:PartVenderCoursePassRateSoapIn" />
      <wsdl:output message="tns:PartVenderCoursePassRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllVenderCoursePassRate">
      <wsdl:input message="tns:AllVenderCoursePassRateSoapIn" />
      <wsdl:output message="tns:AllVenderCoursePassRateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseAddUp">
      <wsdl:input message="tns:GetCourseAddUpSoapIn" />
      <wsdl:output message="tns:GetCourseAddUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseTable">
      <wsdl:input message="tns:GetCourseTableSoapIn" />
      <wsdl:output message="tns:GetCourseTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseName">
      <wsdl:input message="tns:GetCourseNameSoapIn" />
      <wsdl:output message="tns:GetCourseNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMaxScoreTrainning">
      <wsdl:input message="tns:GetMaxScoreTrainningSoapIn" />
      <wsdl:output message="tns:GetMaxScoreTrainningSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrainningRecord">
      <wsdl:input message="tns:GetTrainningRecordSoapIn" />
      <wsdl:output message="tns:GetTrainningRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTrainningBaseInfo">
      <wsdl:input message="tns:GetTrainningBaseInfoSoapIn" />
      <wsdl:output message="tns:GetTrainningBaseInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDistinctRecoordName">
      <wsdl:input message="tns:GetDistinctRecoordNameSoapIn" />
      <wsdl:output message="tns:GetDistinctRecoordNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input message="tns:GetTimeSoapIn" />
      <wsdl:output message="tns:GetTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestCount">
      <wsdl:input message="tns:GetTestCountSoapIn" />
      <wsdl:output message="tns:GetTestCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <wsdl:input message="tns:InsertNewUserSoapIn" />
      <wsdl:output message="tns:InsertNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input message="tns:UpdateUserInfoSoapIn" />
      <wsdl:output message="tns:UpdateUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewOrg">
      <wsdl:input message="tns:InsertNewOrgSoapIn" />
      <wsdl:output message="tns:InsertNewOrgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrgInfo">
      <wsdl:input message="tns:UpdateOrgInfoSoapIn" />
      <wsdl:output message="tns:UpdateOrgInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewMap">
      <wsdl:input message="tns:InsertNewMapSoapIn" />
      <wsdl:output message="tns:InsertNewMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTestOrg">
      <wsdl:input message="tns:UpdateTestOrgSoapIn" />
      <wsdl:output message="tns:UpdateTestOrgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SkdServiceSoap" type="tns:SkdServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCourseReleaseDate">
      <soap:operation soapAction="http://tempuri.org/GetCourseReleaseDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteSp">
      <soap:operation soapAction="http://tempuri.org/ExcuteSp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedBackInfo">
      <soap:operation soapAction="http://tempuri.org/GetFeedBackInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishUpdateData">
      <soap:operation soapAction="http://tempuri.org/FinishUpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedUpdateData">
      <soap:operation soapAction="http://tempuri.org/NeedUpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivelegeInfo">
      <soap:operation soapAction="http://tempuri.org/GetPrivelegeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginTotalTable">
      <soap:operation soapAction="http://tempuri.org/GetLoginTotalTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginDetailTable">
      <soap:operation soapAction="http://tempuri.org/GetLoginDetailTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgressDetailTable">
      <soap:operation soapAction="http://tempuri.org/ProgressDetailTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgressDetailTable">
      <soap:operation soapAction="http://tempuri.org/GetProgressDetailTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseStudyDetails">
      <soap:operation soapAction="http://tempuri.org/GetCourseStudyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVenders">
      <soap:operation soapAction="http://tempuri.org/GetVenders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrgIdAndNameList">
      <soap:operation soapAction="http://tempuri.org/GetOrgIdAndNameList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrgList">
      <soap:operation soapAction="http://tempuri.org/GetOrgList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRbos">
      <soap:operation soapAction="http://tempuri.org/GetRbos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseNameMap">
      <soap:operation soapAction="http://tempuri.org/GetCourseNameMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartVenderCoursePassRate">
      <soap:operation soapAction="http://tempuri.org/PartVenderCoursePassRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllVenderCoursePassRate">
      <soap:operation soapAction="http://tempuri.org/AllVenderCoursePassRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseAddUp">
      <soap:operation soapAction="http://tempuri.org/GetCourseAddUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseTable">
      <soap:operation soapAction="http://tempuri.org/GetCourseTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseName">
      <soap:operation soapAction="http://tempuri.org/GetCourseName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxScoreTrainning">
      <soap:operation soapAction="http://tempuri.org/GetMaxScoreTrainning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainningRecord">
      <soap:operation soapAction="http://tempuri.org/GetTrainningRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainningBaseInfo">
      <soap:operation soapAction="http://tempuri.org/GetTrainningBaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistinctRecoordName">
      <soap:operation soapAction="http://tempuri.org/GetDistinctRecoordName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestCount">
      <soap:operation soapAction="http://tempuri.org/GetTestCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap:operation soapAction="http://tempuri.org/InsertNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewOrg">
      <soap:operation soapAction="http://tempuri.org/InsertNewOrg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrgInfo">
      <soap:operation soapAction="http://tempuri.org/UpdateOrgInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewMap">
      <soap:operation soapAction="http://tempuri.org/InsertNewMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTestOrg">
      <soap:operation soapAction="http://tempuri.org/UpdateTestOrg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SkdServiceSoap12" type="tns:SkdServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCourseReleaseDate">
      <soap12:operation soapAction="http://tempuri.org/GetCourseReleaseDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcuteSp">
      <soap12:operation soapAction="http://tempuri.org/ExcuteSp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedBackInfo">
      <soap12:operation soapAction="http://tempuri.org/GetFeedBackInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishUpdateData">
      <soap12:operation soapAction="http://tempuri.org/FinishUpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NeedUpdateData">
      <soap12:operation soapAction="http://tempuri.org/NeedUpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivelegeInfo">
      <soap12:operation soapAction="http://tempuri.org/GetPrivelegeInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginTotalTable">
      <soap12:operation soapAction="http://tempuri.org/GetLoginTotalTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginDetailTable">
      <soap12:operation soapAction="http://tempuri.org/GetLoginDetailTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgressDetailTable">
      <soap12:operation soapAction="http://tempuri.org/ProgressDetailTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgressDetailTable">
      <soap12:operation soapAction="http://tempuri.org/GetProgressDetailTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseStudyDetails">
      <soap12:operation soapAction="http://tempuri.org/GetCourseStudyDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVenders">
      <soap12:operation soapAction="http://tempuri.org/GetVenders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrgIdAndNameList">
      <soap12:operation soapAction="http://tempuri.org/GetOrgIdAndNameList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrgList">
      <soap12:operation soapAction="http://tempuri.org/GetOrgList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRbos">
      <soap12:operation soapAction="http://tempuri.org/GetRbos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseNameMap">
      <soap12:operation soapAction="http://tempuri.org/GetCourseNameMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PartVenderCoursePassRate">
      <soap12:operation soapAction="http://tempuri.org/PartVenderCoursePassRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllVenderCoursePassRate">
      <soap12:operation soapAction="http://tempuri.org/AllVenderCoursePassRate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseAddUp">
      <soap12:operation soapAction="http://tempuri.org/GetCourseAddUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseTable">
      <soap12:operation soapAction="http://tempuri.org/GetCourseTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseName">
      <soap12:operation soapAction="http://tempuri.org/GetCourseName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaxScoreTrainning">
      <soap12:operation soapAction="http://tempuri.org/GetMaxScoreTrainning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainningRecord">
      <soap12:operation soapAction="http://tempuri.org/GetTrainningRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrainningBaseInfo">
      <soap12:operation soapAction="http://tempuri.org/GetTrainningBaseInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDistinctRecoordName">
      <soap12:operation soapAction="http://tempuri.org/GetDistinctRecoordName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap12:operation soapAction="http://tempuri.org/GetTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestCount">
      <soap12:operation soapAction="http://tempuri.org/GetTestCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewUser">
      <soap12:operation soapAction="http://tempuri.org/InsertNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewOrg">
      <soap12:operation soapAction="http://tempuri.org/InsertNewOrg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrgInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrgInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewMap">
      <soap12:operation soapAction="http://tempuri.org/InsertNewMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTestOrg">
      <soap12:operation soapAction="http://tempuri.org/UpdateTestOrg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SkdService">
    <wsdl:port name="SkdServiceSoap" binding="tns:SkdServiceSoap">
      <soap:address location="http://localhost:6416/SkdService.asmx" />
    </wsdl:port>
    <wsdl:port name="SkdServiceSoap12" binding="tns:SkdServiceSoap12">
      <soap12:address location="http://localhost:6416/SkdService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>